<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>О нас</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <div id="toolbar">
            <div id="home" class="item">
                <a href="main.html" th:href="@{}">Главная</a>
            </div>
            <div id ="contacts" class="item">
                <a href="http://localhost:8080/contacts">Контакты</a>
            </div>
            <div id="info" class="item">
                <a href="http://localhost:8080/info">О нас</a>
            </div>
        </div>
    </body>
</html>